@page
@model LoginModel

<div class="page_background">
    <div class="breadcrumb_background">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="rows">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="./"><span>Trang chủ</span></a>
                                <span class="mr_lr">/</span>
                            </li>

                            <li><strong><span>Đăng nhập</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="d-flex justify-content-center">
            <form id="account" method="post" class="w-100">
                <h2 class="text-center">Đăng nhập vào Pawsome Pets</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email@domain.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                </div>
                <div class="text-center mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản mới</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại xác nhận email</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}