@page
@model RegisterModel
<div class="page_background">
    <div class="breadcrumb_background">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="rows">
                    <div class="col-xs-12 a-left">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="./"><span>Trang chủ</span></a>
                                <span class="mr_lr">/</span>
                            </li>

                            <li><strong><span>Đăng ký</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="d-flex justify-content-center">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Đăng ký tài khoản</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password">Mật khẩu</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="mật khẩu" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.FullName">Họ và tên</label>
                    <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="Họ và tên" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Address">Địa chỉ</label>
                    <input asp-for="Input.Address" class="form-control" aria-required="true" placeholder="Địa chỉ" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <br />
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
